name: Integration

on: push

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
      postgres:
        image: postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ^1.15
      - run: go version
      - run: go mod download

      - name: Run tests
        run: |
          go test \
            -race \
            -covermode=atomic \
            -coverprofile=coverage.out \
            ./...
        env:
          TEST_REDIS_URL: redis://localhost:6379/1
          TEST_POSTGRES_URL: postgres://test:password@localhost:5432/test?sslmode=disable
